body {
	background-color: aliceblue;
	background: url('https://media.istockphoto.com/id/1455535100/vector/dynamic-circle-line-long-background-white-stripe-texture-concentric-gray-subtle-element.jpg?s=612x612&w=0&k=20&c=GbA_eY4DSN-ABZQocWxGCbJgCD-l79YIlCdSKxzjGj4=');
	background-size: cover;
	background-repeat: no-repeat;
}

.title {
	margin-top: 10px;
}

.table {
	background: white;
}
.table .table-header {
	background: #555;
	color: white;
}

.table .thumbnail {
	width: 20px;
	height: 25px;
	background-size: cover;
	background-position: 50% 50%;
}
.table.thumb-large .thumbnail {
	width: 40px;
	height: 50px;
}

.table tr td:first-child {
	width: 20px;
	padding-right: 0.2rem;
}
.table tr td:nth-child(2) {
	font-weight: bold;
}
.table tr td:last-child, .table tr th:last-child {
	text-align: right;
}

.table td, .table th {
	padding: 0.2rem 0.4rem;
}